body{
    display: flex;
    flex-direction: column;
    align-content: center;  
    font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}
h1{
    margin: auto;
}

h3{
    margin: auto;
}

#outputHeading{
    margin: 20px;
}

#inputOutput{
    display: flex;
    
}

#employeeInSpace{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 270px;
    position: sticky;
    top: 0;

}
input{
    background-color: ;
    border: none;
    border-bottom: solid 2px grey;
    width: 200px;
    height: 20px;
    padding: 10px;
    

}


table{
    margin: 20px;
    width: 800px;
    border: solid rgb(148, 148, 148) 1px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#monthlyCounter{
    margin: 20px;

    
}

#employeeIn{
    width: 200px;
    margin: 10px;
    
}

